main {
    flex-grow: 1;
}

main .login {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 38px;
    font-weight: bold;
}

main form {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

main h2 {
    display: flex;
    margin-top: 100px;
    width: 100px;
    height: 36px;
}

nav a:hover {
font-weight: bold;
color: initial;
}

section a {
    color: initial;
    line-height: 16.42px;
}

.email {
    line-height: 16.42px;
}

#email {
    Width : 379px;
    Height : 51px;
    background: #FFFFFF;
    box-shadow: 0px 4px 14px 0px #00000017;
    border: none;
}

.password {
    font-weight: 500;
    line-height: 16.42px;
}

#password {
    Width : 379px;
    Height : 51px;
    background: #FFFFFF;
    box-shadow: 0px 4px 14px 0px #00000017;
    border: none;
}

.error {
    color: red;
}

.div {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

#submit {
    width: 179px;
    height: 36px;
    border-radius: 60px;
    border: none;
    margin: 1em auto;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    max-width: 1440px;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}