/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1440px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #fefef8
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0;
	max-width: 1140px;
    width: 100%
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}

li:hover {
	color: #B1663C;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}
.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 305px;
    height: 407px;
}
#contact {
	width: 50%;
margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin: 30px 0 0 0;
    width: 100%;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	text-align: start;
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	text-align: start;
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	border-radius: 60px;
}

footer {
	width: 100%;
	background-color: #FFFFFF;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

/* Mes modifications*/

main {
	max-width: 76%;
}

#portfolio .ul {
	display: flex;
	justify-content: center;
	height: 38px;
	margin-bottom: 2em;
}

#portfolio h3 {
	display: flex;
	justify-content: space-around;
	width: 585px;
	gap: 0px;
	text-align: center;
}

#portfolio button {
	min-width: 100px;
	height: 37px;
	border-radius: 60px;
	border: 1px solid #1D6154;
	color :#1D6154;
	background: none;
	font-family: Syne;
	font-size: 16px;
	font-weight: 700;
	line-height: 19.2px;
	text-align: center;
	padding: 10px;
}

#portfolio .tousactivate {
	background: #1D6154;
	color: #FFFFFF;
}

#portfolio .btnactivate{
	background: #1D6154;
	color: #FFFFFF;
}

#portfolio button:hover {
	background: #1D6154;
	color: #FFFFFF;
	cursor: pointer;
}

nav li, nav a {
	padding: 0 10px;
	font-size: 1.2em;
}

header a {
	text-decoration: none;
	color: initial;
}

nav a:hover {
	color: #b13c3c;
}

#portfolio .div-edit {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 2rem;
	gap: 1.25rem;
}

#portfolio .div-edit span {
	font-size: large;
	margin-bottom: 25px;
	cursor: pointer;
}
.admin-mod {
	background-color: black;
	height: 59px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #FFFFFF;
}

.admin-mod p {
	display: flex;
	color: white;
	width: max-content;
	height: 19px;
	gap: 21px;
	font-size: 19px;
}

.admin-mod p i {
	font-size: 16px;
	color: white;
}

h2 i {
	display: flex;
	height: 13px;
	width: 13px;
	color: #030303;
}

.logout:hover {
	font-weight: bold;
}

input[type="submit"]:hover {
	background: #0E2F28;
	cursor: pointer;
}

#contact input[value="Envoyer"] {
	text-align: center;
}

nav li:hover {
	cursor: pointer;
}

/* MODALE */

.modal {
	display: none;
	align-items: center;
	justify-content: center;
	position: fixed;
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.5)
}

.modal h2 {
	font-family: Work Sans;
	font-size: 26px;
	font-weight: 400;
	color: black;
	padding-top: 9.74%
}

.modal__pictures, .modal__pictures--add {
	position: relative;
	height: 670px;
	width: 43%;
	max-width: 630px;
	background-color: #FFFFFF;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	flex-direction: column;
}

.modal .fa-xmark {
	position: absolute;
	top: 24px;
	right: 24px;
	font-size: 24px;
	cursor: pointer;
}

.modal button {
	width: 237px;
	height: 36px;
	border-radius: 60px;
	border: none;
	color: white;
    background-color: #1D6154;
	border-color: #1D6154;
	cursor: pointer;
	font-family: 'Syne';
}

.modal button:hover {
	background: #0E2F28;
}

.galleryModal {
	display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-column-gap: 8px;
    grid-row-gap: 4.36%;
	padding: 9.74% 0;
}

.contentButton {
	display: flex;
    justify-content: center;
    align-items: center;
    height: 126px;
    width: 407.23px;
	border-top: 1px solid #B3B3B3
}

.galleryModal figure {
	height: 1%;
}

.galleryModal img {
	height: 100px;
	width: 75px
}

.modal__pictures figure span {
	display: flex;
	align-items: center;
    justify-content: center;
	height: 17px;
	width: 17px;
	position: relative;
	top: 22px;
	left: 55px;
	color: #FFFFFF;
	background-color: black;
	font-size: 17px;
}

.modal__pictures figure span .fa-trash-can {
	font-size: 10px;
	cursor: pointer;
}

/* Modal 2 */
/* Element principal stylisé avec la première modal*/


.modal__pictures--add {
	display: none;
	justify-content: space-around;
}

.modal__pictures--add form {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	width: 66.67%;
}

.modal__pictures--add .contentButton button {
	background-color: #A7A7A7;
	color: #FFFFFF;
	border: none;
	cursor: auto;
}

.modal__pictures--add .contentButton {
	width: auto;
}

.imageSelect {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	height: 169px;
	background-color: #E8F1F6;
	border-radius: 3px;
}

.div__form {
	display: flex;
	flex-direction: column;
	height: 100%;
	gap: 20px;
}

.fa-image {
	color: #CBD6DC;
	font-size: 76px;
}

.imageSelect label {
	background-color: #CBD6DC;
	color: #306685;
	border-radius: 50px;
	height: 36px;
	width: 173px;
	display: flex;
    justify-content: center;
    align-items: center;
}

.imageSelect input {
	display: none;
}

.div__form img {
	display: none;
	max-width: 100%;
	max-height: 100%;
}

.div__form p {
	font-size: 14px;
}

#title, #category {
	height: 51px;
	border: none;
	box-shadow: 0px 4px 14px 0px #00000017;
}

.fa-arrow-left {
	position: absolute;
	top: 26px;
	left: 26px;
	font-size: 21px;
	cursor: pointer;
}

.fa-image {
	font-size: 76px;
}

.modal__pictures--add .contentButton .valid {
	background: #1D6154;
	color: #FFFFFF;
	cursor: pointer;
}

.modal__pictures--add .need {
	position: absolute;
	color: #B1663C;
	top: 85%;
}

.errorImg {
	color: red;
	text-align: center;
}

.noFiles {
	color: red;
    text-align: center;
    position: relative;
    top: -2.5%;
}